In [1]:
# plain text plate map can just be 

from itertools import product 
from string import ascii_uppercase
import pandas

wells = [ '{1}{0:02d}'.format( *n ) for n in product(range(1, 25), ascii_uppercase[0:16]) ] 
len( wells )

384

In [4]:
df = pandas.DataFrame( None, index=wells, columns=['sample_name', 'forward_primer', 'reverse_primer'] ) 
df.head()

    sample_name forward_primer reverse_primer
A01         NaN            NaN            NaN
B01         NaN            NaN            NaN
C01         NaN            NaN            NaN
D01         NaN            NaN            NaN
E01         NaN            NaN            NaN

In [5]:
# create template 
df.to_csv( 'static/neat_plain_text_template.csv' )

In [7]:
# make an example for uploading here 
data = [ ( 'My sample {}'.format( i+1000 ), 'T7', 'T7term' ) for i in range( 384 ) ] 
example = pandas.DataFrame( data, index=wells, columns=['sample_name', 'forward_primer', 'reverse_primer'] ) 
example.head()

        sample_name forward_primer reverse_primer
A01  My sample 1000             T7         T7term
B01  My sample 1001             T7         T7term
C01  My sample 1002             T7         T7term
D01  My sample 1003             T7         T7term
E01  My sample 1004             T7         T7term

In [8]:
example.to_csv( '/Users/alex/Desktop/example_sequencing_order.csv' )