In [3]:
import pandas 
from sqlalchemy import create_engine

engine = create_engine('sqlite:///neat.db')
sequencing = pandas.read_sql_table('sequencing', engine.connect())
plates = pandas.read_sql_table('plate', engine.connect())

In [4]:
sequencing

,sequencing_id,plate_map,reference_text,date_ordered,status,issue,owner
0,1,sample_name forward_primer reverse_primer\...,example_36,None,0,0,1
1,2,sample_name forward_primer reverse_primer\...,mju,None,0,0,1
2,3,sample_name forward_primer reverse_pri...,myrefername,None,0,0,3

In [5]:
plates

    plate_id  owner  status  issue plate_map  date_ordered
0          1      1       2      0      None    1493016216
1          2      1       0      0      None    1493180249
2          3      1       0      0      None    1493180249
3          4      1       0      0      None    1493180249
4          5      1       0      0      None    1493180249
5          6      1       0      0      None    1493180249
6          7      3       0      0      None    1493928738
7          8      3       0      0      None    1493928738
8          9      3       0      0      None    1493928738
9         10      3       0      0      None    1493928738
10        11      3       0      0      None    1493928738

In [8]:
possible_plates_today = list(plates.plate_id)

In [9]:
maps = []
for pt_id in possible_plates_today:
    print(pt_id)
    maps.append(

1
2
3
4
5
6
7
8
9
10
11